!!!
html(ng-app="image")
  head
    title HTML Image Editor
    link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css", rel="stylesheet")
    link(href="/css/app.css", rel="stylesheet")
  body
    .imageContainer.span12
      .row
        .viewport.span6
        .viewport.span6
      .row
        .viewport.span4
        .viewport.span4
        .viewport.span4

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js")
    script(src="/js/app.js")
